<!DOCTYPE html>
{% load static %}
<html lang = 'en'>
    <head>
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <title>
            GuitarGuitar - view order page
        </title>
    </head>

    <body>
        <h1>Orders</h1>
        <div>
            {% if orders %}
                {% for order in orders %}
                    {{order.id}}
                    {{order.customerid}}
                    {{order.products}}
                    {{order.orderstatus}}
                {% endfor %}
            {% else %}
                <p>We couldn't find any orders :(</p>
            {% endif %}
        </div>
    </body>
</html>